body {
    margin: 0em;
}

.Header {
    width: 100%;
    height: 42em;
    margin: 0em;
    background-image: url('../Pictures/header-photo.jpg');
    background-repeat: no-repeat;
    background-position: 0 -180px;
}

.blackout {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}